    <section class="block block--dark block--skewed-right block-showcase">
      <header class="block__header">
        <h2 class="block__heading">User-Friendly Control Panel</h2>
      </header>
      <article class="container grid grid--1x2 showcase">
        <div class="showcase__img">
          <picture>
            <source
              type="image/png"
              srcset="/images/ipad.png 1x, /images/ipad@2x.png 2x" />

            <source
              type="image/webp"
              srcset="/images/ipad.webp 1x, images/ipad@2x.webp 2x" />

            <img class="showcase__ipad" src="/images/ipad@2x.png" alt=""
          /></picture>
        </div>
        <ul class="list showcase__content">
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#snap"></use>
                </svg>
              </div>

              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#growth"></use>
                </svg>
              </div>

              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
          <li class=>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary">
                  <use xlink:href="/images/sprite.svg#wordpress"></use>
                </svg>
              </div>

              <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
                <p>
                  Our cloud plans include easy onboarding for new and existing
                  sites and managed WordPress and WooCommerce auto-updates.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </article>
    </section>