<div class="media">
  <div class="media__image">
    <svg class="icon icon--secondary">
      <use xlink:href="/images/sprite.svg#snap"></use>
    </svg>
  </div>

  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, temporibus
      saepe. Minima eum molestiae aliquam dignissimos expedita veritatis
      molestias, provident accusamus, velit tempora a magni, impedit quis
      blanditiis cum veniam et odit aliquid architecto voluptas debitis porro
      laudantium asperiores mollitia. Earum, alias ipsa. Fuga, enim expedita
      molestiae labore nam laboriosam!
    </p>
  </div>
</div>

<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="/images/sprite.svg#menu"></use>
    </svg>
  </div>

  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, temporibus
      saepe. Minima eum molestiae aliquam dignissimos expedita veritatis
      molestias, provident accusamus, velit tempora a magni, impedit quis
      blanditiis cum veniam et odit aliquid architecto voluptas debitis porro
      laudantium asperiores mollitia. Earum, alias ipsa. Fuga, enim expedita
      molestiae labore nam laboriosam!
    </p>
  </div>
</div>
